.container{
    width: 100%;
    height: calc(100%-120px);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    row-gap: 150px;
    background-color: rgb(255, 255, 255);
}