.sliderContainer{
    width: 100vw;
    height: calc(100vh - 80px);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(125,125,125,1) 100%);
}
.slides{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

:root{
    --swiper-theme-color:#747474 !important;
    --swiper-navigation-size:60px !important;    
    --swiper-pagination-color: red !important;
    --swiper-pagination-bullet-size: 12px !important;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-inactive-color: #000 !important;
    --swiper-pagination-bullet-inactive-opacity: 0.2 !important;
    --swiper-pagination-bullet-opacity: 1 !important;
    --swiper-pagination-bullet-horizontal-gap: 4px !important;
    --swiper-pagination-bullet-vertical-gap: 6px !important;
}
.swiper{
    /* padding-right: 40px !important; */
    /* padding-left: 10px !important; */
}
.swiper-pagination {
    bottom: 0px !important;
}
.controller{
    width:90vw;
    height:450px;
    padding-left:200px;
    padding-right:100px;
}